html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #787fff3f;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #282a426e;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #5555551e;
}

.scroll-container::-webkit-scrollbar-corner {
  background: #787fff3f;
}

/* .mapboxgl-marker {
  position: absolute;
} */

/* .new-row-cell {
  background-color: rgba(0, 72, 255, 0.285);
} */

/* .new-row-cell:hover {
  background-color: rgba(124, 151, 6, 0.235); /* Change to your preferred hover color
  cursor: pointer;
}
 */

/*Add this CSS class in your stylesheet */
.selected-cell {
  border: 2px solid blue; /* Example style, adjust as needed */
}

/* .selected-cell:hover {
  background-color: rgba(124, 151, 6, 0.235); /* Change to your preferred hover color
  cursor: pointer;
} */

.new-cells:hover {
  background-color: rgba(124, 151, 6, 0.235); /* Change to your preferred hover color */
  cursor: pointer;
}

.data-grid-left-align {
  display: flex;
  justify-content: flex-start;
}

.disabled-cell {
  background-color: #18196a71; /* Light grey background */
  pointer-events: none; /* Prevent interactions */
}
